<style>
    .h1, .h2, .h3, .h4, .h6, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: "Yeseva One", serif;
        font-weight: 400;
        font-style: normal;

    body {
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
}
</style>

